.navlist__image {
  position: relative;
  margin: 0.5rem;
  border-radius: 0.5rem;
  background-image: url('../img/баня.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
.navlist__nav {
  margin: 0.5rem;
  border-radius: 0.5rem;
  padding: 30px 40px;
  background-color: var(--main-bg-color);
}
.nav__list {
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}
.navlist__animation {
  position: absolute;
  top: 50%;
  z-index: 2;
  font-size: 4rem;
  color: white;
}
.navlist__animation {
  animation: move 10s infinite linear;
}

/* @keyframes move {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 10%;
  }
} */
