.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 10px;
}
.card:hover {
  box-shadow: 7px 7px 5px 0px rgba(86, 75, 13, 0.37);
}

@media (max-width: 580px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }
}
.cardlist__image {
  margin: 0.5rem;
  border-radius: 0.5rem;
  background-image: url('../img/баня.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
.cardlist__card {
  margin: 0.5rem;
  border-radius: 0.5rem;
  padding: 1.5rem;
  background-color: #aeac9b;
  display: flex;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.cardlist__nav {
  margin: 0.5rem;
  border-radius: 0.5rem;
  padding: 30px 40px;
  background-color: var(--main-bg-color);
}
