.card {
  position: relative;
  width: 350px;
  border: 1px #564b0d solid;
  border-radius: 10px;
  margin: 15px;
  padding: 10px;
}

.card__discount {
  position: absolute;
  top: 25px;
  left: 40px;
  padding: 2px 8px;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #f44336;
  border-radius: 20px;
}
.favorite {
  color: red;
  top: 25px;
  left: 135px;
  position: absolute;
  padding-left: 190px;
}

.card__img {
  width: 100%;
  border-radius: 10px;
}
.card__button {
  width: 150px;
  height: 60px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.card__icons {
  z-index: 3;
  width: 60px;
  height: 20px;
  color: black;
}
.card__price {
  font-size: 24px;
  font-weight: bold;
}
.card__favorite {
  fill: rgb(255, 255, 255);
  stroke: red;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  display: flex;
}
.card__favorite_active > svg {
  fill: red;
  stroke: red;
}
