.productpage__conteiner {
  overflow: scroll;
    z-index: 3;
  position: relative;
  width: 70vw;
  height: 90vh;
  border: 1px var(--main-bg-color) solid;
  margin: 20px 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.button__back {
  border-radius: 5px;
  width: 4rem;
  height: 2rem;
  position: absolute;
  top: 10px;
  left: 10px;
}
.productpage__title {
  margin-top: 0;
  font-weight: 800;
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 50px;
}
.product__img {
  width: 40%;
}
.productpage__img {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.postpage__title {
  font-weight: 400;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.product__star {
  padding-bottom: 2rem;

  font-size: 2rem;
}
.productpage__description {
  width: 50%;
}
.productpage__infa {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.productpage__price {
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 28px;
  line-height: 32px;
}
.productpage__button {
  width: 150px;
  height: 60px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.productpage__delivery {
  margin: 10px;
  padding: 5px;
  width: 50%;
  height: 20%;
  border: 1px var(--main-bg-color) solid;
  border-radius: 10px;
}
.productpage__quality {
  margin: 10px;
  padding: 5px;
  width: 50%;
  height: 20%;
  border: 1px var(--main-bg-color) solid;
  border-radius: 10px;
}
