ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}

.header__conteiner {
  margin: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--main-bg-color);
  padding: 0.2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 90px;
}
.header__title {
  font-size: 36px;
  font-style: italic;
  font-weight: 600;
}
.header__pin {
  width: 480px;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.basket {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.header__icons {
  padding-left: 1rem;
  stroke: none;
  fill: black;
  cursor: pointer;
  font-size: 2.5rem;
  color: aliceblue;
}
.header__profile {
  stroke: none;
  fill: black;
  cursor: pointer;
  font-size: 2.5rem;
  color: aliceblue;
}

.header__like {
  width: 30px;
  height: 30px;
}
.header__fav {
  position: relative;
}
.header__logotip {
  padding-left: 10px;
  height: 100px;
  width: 150px;
}
.header__num {
  position: absolute;
  width: 25px;
  height: 20px;
  left: 60%;
  bottom: 50%;
  background: #fcfdfd;
  border: 2px solid var(--main-bg-color);
  border-radius: 20px;
  color: var(--main-bg-color);
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__user {
  display: flex;
  flex-direction: row;
}
.header__user__info {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 10px;
}
.img__avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
