ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}

.header__conteiner {
  margin: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--main-bg-color);
  padding: 0.2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 90px;
}
.titlle {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
}
.header__pin {
  width: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__icons {
  padding-right: 50px;
  font-size: 2.5rem;
  color: aliceblue;
}
.header__logotip {
  padding-left: 60px;
  height: 100px;
  width: 150px;
}
