.catalogpage__sort {
  border: 2px var(--main-bg-color) solid;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04),
    0px 8px 16px rgba(96, 97, 112, 0.16);
  margin: 0.5rem;
  border-radius: 0.5rem;
  padding: 10px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}
.catalogpage__item {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 20px;
  color: var(--main-bg-color);
  cursor: pointer;
}
.catalogpage__search {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 20px;
  color: black;
}
.hatpage__conteiner {
  position: relative;
  width: 90vw;
  height: 90vh;
  border: 1px var(--main-bg-color) solid;
  margin: 20px 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.hatpage__item {
  font-size: 1.5rem;
  width: 10rem;
  height: 20rem;
  border: 2px var(--main-bg-color) solid;
  border-radius: 0.5rem;
  margin: 20px 20px;
  padding: 10px;
}

.err__conteiner {
  position: relative;
  width: 50vw;
  height: 50vh;
  font-size: 5rem;
  border: 1px var(--main-bg-color) solid;
  margin: 20px 20px;
  padding: 10px;
}
.err__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -40%);
  width: 90%;
  height: 90%;
  background-image: url('../components/img/err.jpeg');
  background-repeat: no-repeat;
}
.button__main {
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  border-radius: 5px;
  width: 10rem;
  height: 2rem;
}
.button__main:hover {
  box-shadow: 7px 7px 5px 0px rgba(86, 75, 13, 0.37);
}
.favoritepage__conteiner {
  position: relative;
  border: 1px var(--main-bg-color) solid;
}
.payment__conteiner {
  position: relative;
  width: 90vw;
  height: 60vh;
  border: 1px var(--main-bg-color) solid;
  margin: 5px 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.payment__image {
  position: absolute;
  top: 60%;
  left: 60%;
  transform: translate(-40%, -40%);
  width: 60rem;
  height: 30rem;
  background-image: url('../components/img/card.jpg');
  background-repeat: no-repeat;
}
.shipping__infa {
  text-align: start;
  padding: 1rem;
  font-size: 1.5rem;
}
.payment__title {
  font-size: 2rem;
}
.productcarepage__conteiner {
  position: relative;
  width: 90vw;
  height: 60vh;
  border: 1px var(--main-bg-color) solid;
  margin: 20px;
  padding: 80px 10px 80px 10px;
  text-align: center;
}
.productcarepage__text {
  padding: 3rem 2rem 2rem 2rem;
  font-size: 1.5rem;
  line-height: 2;
}
.productcarepage__title {
  font-size: 2rem;
}
.user__conteiner {
  position: relative;
  width: 50vw;
  height: 50vh;
  font-size: 5rem;
  border: 1px var(--main-bg-color) solid;
  margin: 20px 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.user__info {
  font-size: 2rem;
}
.changeUser__conteiner {
  position: relative;
  width: 50vw;
  height: 50vh;
  font-size: 5rem;
  border: 1px var(--main-bg-color) solid;
  margin: 20px 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}
.profile__avatar {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}
.button__changeUser {
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  border-radius: 5px;
  width: 10rem;
  height: 2rem;
}
.button__changeUser:hover {
  box-shadow: 7px 7px 5px 0px rgba(86, 75, 13, 0.37);
}
.changeUser__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 32rem;
}
.changeAvatar__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 32rem;
}
.changeUser__input {
  border-radius: 5px;
  background-color: #ffffff;
  max-width: 20rem;
  font-size: 1.5rem;
  line-height: 20px;
  color: #1a1a1a;
  padding: 6px 20px;
  border: 1px solid var(--main-bg-color);
  outline: none;
}
.changeUser__button {
  border-radius: 5px;
  border: 1px solid var(--main-bg-color);
  padding: 6px 120px;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.changeUser__button:hover {
  box-shadow: 7px 7px 5px 0px rgba(86, 75, 13, 0.37);
  cursor: pointer;
}
.changeUser__text {
  font-size: 1.2rem;
}
.changeUser__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.avatar__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.description {
  color: var(--ifm-color-gray-600);
  margin: 0;
}
.interestingfactspage__contener {
  position: relative;
  width: 70vw;
  height: 70vh;
  font-size: 5rem;
  border: 1px var(--main-bg-color) solid;
  margin: 20px 20px;
  padding: 10px;
}
.slider__conteiner {
  border: 0.1px var(--main-bg-color) solid;
  position: relative;
  width: 40vw;
  height: 80vh;
  font-size: 5rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 50px;
}
.chart {
  position: relative;
  width: 50vw;
  height: 50vh;
  font-size: 5rem;
  border: 1px var(--main-bg-color) solid;
  margin: 20px 20px;
  padding: 10px;
}
