.registration__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  max-width: 22rem;
}
.registration__input {
  border-radius: 5px;
  background-color: #ffffff;
  max-width: 16rem;
  font-size: 1.5rem;
  line-height: 20px;
  color: #1a1a1a;
  padding: 6px 20px;
  border: 1px solid var(--main-bg-color);
  outline: none;
}
.input__password {
  position: relative;
}
.registration__input__icon {
  position: absolute;
  top: 14px;
  left: 268px;
  cursor: pointer;
}
